<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>The Best Gallery 2018</title>
  </head>
  <header><h1>CHECK THIS SHIT OUT</h2></header>
  <body>
    <% 25.times do |i| %>
      <img src="http://unsplash.it/200/300?random=<%=i%>">
    <% end %>
  </body>
</html>
